.title {
    margin-left: 45%;
}

.description {
    margin-left: 30%;
}

.dectobindiv {
    margin-left: 35%;
}

.bintodecdiv {
    margin-top: 20px;
    margin-left: 35%;
}

body {
    background-color:blanchedalmond
}